* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: url("./images/wood-background.jpg");
  background-size: cover;
  display: flex;
  z-index: -2;
}

aside {
  display: flex;
  flex-direction: column;
  color: white;
  background: rgba(15, 15, 15, .8);
  width: 33%;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(50,50,50, .7);
  height: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
  font-size: 50px;
  font-family: sans-serif;
}

p {
  padding: 0 20px;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255,.8 );
}

li {
  font-size: 19px;
  color: rgba(255, 255, 255,.8 );
  padding: 5px;
}

strong {
  font-weight: bold;
  color: white;
}

span {
  font-style: italic;
}

h4 {
  font-size: 24px;
  padding: 40px 20px 20px 20px;


}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0 auto;
  padding: 0 0 50px 0;
  align-self: flex-end;
}

#startButton {
  width: 200px;
  height: 60px;
  font-size: 25px;
  background-color: rgba(0,255,75,.7);
  color: white;
  border: 2px solid rgba(0,255,75,.7);
  border-radius: 5px;
}

#startButton:hover {
  cursor: pointer;
}

.turnBox {
  position:absolute;
  top:  33%;

}

#turnColor {
  margin: 50px 0;
  font-size: 115px;
  font-family: 'Permanent Marker', cursive;
  transform: rotateZ(-45deg);
}

#board {
  background-image: url("./images/green-felt.jpg");
  background-size: cover;
  border: 15px solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 630px;
  width: 630px;
}

.space {
  border: 2.5px solid hsla(360, 0%, 80%, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
}

.space:hover {
  cursor: pointer;
}

.disc {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin: auto;
  z-index: 1;
}

.gameOver {
  position: absolute;
  top: 33%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 33vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;
  color: black;
}

#gameWinner {
  color: black;
}
