* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-image: url("./images/wood-background.jpg");
  background-size: cover;
}

aside {
  background: rgba(15, 15, 15, .8);
  color: white;
  width: 100%;
  height: 100vh;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

nav {
  background-color: rgba(50,50,50, .7);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  padding: 20px 0;
}

p {
  padding: 0 20px;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255,.8 );
}

li {
  font-size: 19px;
  color: rgba(255, 255, 255,.8 );
  padding: 5px;
}

strong {
  font-weight: bold;
  color: white;
}

span {
  font-style: italic;
}

h4 {
  font-size: 24px;
  padding: 40px 20px 20px 20px;


}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 0 0 50px 0;
  align-self: flex-end;
}

#startButton {
  width: 200px;
  height: 60px;
  font-size: 25px;
  background-color: rgba(0,255,75,.7);
  color: white;
  border: 2px solid rgba(0,255,75,.7);
  border-radius: 5px;
}

#startButton:hover {
  cursor: pointer;
}

#turnColor {
  font-size: 6vh;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.playerButtonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

#playerButton {
  display: none;
  width: 35vh;
  height: 10vh;
  font-size: 25px;
  background-color: rgba(100,170,255,1);
  color: white;
  border: 2px solid rgba(100,170,255,1);
  border-radius: 5px;

}

#playerButton:hover {
  cursor: pointer;
  background-color: rgba(150,200,255,1);
}

#board {
  background-image: url("./images/green-felt.jpg");
  background-size: cover;
  border: 1.5vh solid rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  height: 90vh;
  width: 90vh;
  margin: auto;
}

.space {
  border: .38vh solid hsla(360, 0%, 80%, .8);
  display: flex;
  justify-content: center;
  align-items: center;

}

.space:hover {
  cursor: pointer;
}

.disc {
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
  margin: auto;
  z-index: 1;
}

.gameOver {
  position: absolute;
  top: 33%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 33vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;
  color: black;
}

#gameWinner {
  color: black;
}


/*  Media queries */


@media all screen and (max-width: 635px) {
  #board {
    display:  none;
  }

  aside {
    width: 100%;
  }

  h1 {
    font-size: 180px;
  }

  a {
    font-size: 50px;
  }

  nav {
    height: 150px;
  }

  p {
    font-size: 40px;
    line-height: 40px;
  }

  #startButton {
    width: 600px;
    height: 180px;
    font-size: 75px;
  }

  .details {
    padding: 35px;
  }

  li {
    font-size: 30px;
    padding: 20px;
  }

}
